[submodule ".registry"]
	path = .registry
	url = https://github.com/rsund/universe
	shallow = true
	branch = HEAD
[submodule "muste"]
	path = muste
	url = https://github.com/rsund/survor
	shallow = true
	subdir = pkg/muste
	registered = true
