[submodule ".registry"]
	path = .registry
	url = https://github.com/rsund/universe
	branch = HEAD
[submodule "muste"]
	path = muste
	url = https://github.com/rsund/survor
	subdir = pkg/muste
[submodule "survo.audio"]
	path = survo.audio
	url = https://github.com/rsund/survor
	subdir = pkg/survo.audio
[submodule "virta"]
	path = virta
	url = https://github.com/rsund/survor
	subdir = pkg/virta
